<div id="demo">
   <br>
    <h1>Tae Design Responsive Table</h1>
    <h2>Table of my other Tae Design works (list was updated 08.2015)</h2>
    
    <!-- Responsive table starts here -->
    <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
    <div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
        
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Call Number</th>
            <th>Address</th>
            <th>Email</th>
            <th>Edit Data</th>
            <th>Delete Data</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
          <tr>
            <td >{{user.user_id}}</td>
            <td >{{user.user_name}}</td>
            <td >{{user.user_lastname}}</td>
            <td >{{user.age}}</td>
            <td >{{user.user_call}}</td>
            <td >{{user.address}}</td>
            <td >{{user.email_address}}</td>
            <!-- <button type="button" class="btn btn-primary" >Open modal for @getbootstrap</button> -->
            <td ><button type="button" class="btn btn-danger"  (click)="getdelete(user.user_id)">ลบข้อมูล</button></td>
            <td ><button 
              type="button" 
              class="btn btn-warning" 
                (click)="getuser_first(user.user_id)"

                data-toggle="modal" data-target="#exampleModal"
              >แก้ไขข้อมูล</button></td>

              


          </tr>
          <tr>
            <button 
              type="button" 
              class="btn btn-success" 
              routerLink="/insert"
              >เพิ่มข้อมูล</button>
        </tbody>
      </table>
    </div>
    
    <!-- Table Constructor change table classes, you don't need it in your project -->
    <div style="width: 45%; display: inline-block; vertical-align: top">
    <h2>Table Constructor</h2>
    <p>
      <label for="table-bordered">Style: bordered</label>
      <select id="table-bordered" name="table-bordered">
        <option selected value="">No</option>
        <option value="table-bordered">Yes</option>
      </select>
    </p>
    <p>
      <label for="table-striped">Style: striped</label>
      <select id="table-striped" name="table-striped">
        <option selected value="">No</option>
        <option value="table-striped">Yes</option>
      </select>
    </p>
    <p>
      <label for="table-hover">Style: hover</label>
      <select id="table-hover" name="table-hover">
        <option value="">No</option>
        <option selected value="table-hover">Yes</option>
      </select>
    </p>
    <p>
      <label for="table-color">Style: color</label>
      <select id="table-color" name="table-color">
        <option value="">Default</option>
        <option value="table-mc-red">Red</option>
        <option value="table-mc-pink">Pink</option>
        <option value="table-mc-purple">Purple</option>
        <option value="table-mc-deep-purple">Deep Purple</option>
        <option value="table-mc-indigo">Indigo</option>
        <option value="table-mc-blue">Blue</option>
        <option selected value="table-mc-light-blue">Light Blue</option>
        <option value="table-mc-cyan">Cyan</option>
        <option value="table-mc-teal">Teal</option>
        <option value="table-mc-green">Green</option>
        <option value="table-mc-light-green">Light Green</option>
        <option value="table-mc-lime">Lime</option>
        <option value="table-mc-yellow">Yellow</option>
        <option value="table-mc-amber">Amber</option>
        <option value="table-mc-orange">Orange</option>
        <option value="table-mc-deep-orange">Deep Orange</option>
      </select>
    </p>  
    </div>
    <div style="width: 45%; display: inline-block; vertical-align: top; margin-left: 30px;">
      <h2>Description</h2>
      <p><span><hr><h5>คุณลักษณะ</h5></span> เป็นการหัดเขียนโปรแกรมในลักษณะหนึ่งที่ทำให้เรารู้ได้เยอะกว่านี้</p>
      <p><span><h5>แหล่งที่มา</h5></span>ฉันมาจากบ้านเดินทางโดยใช้รถประจำทาง</p>
      <p class="mdt-subhead-2"><strong>Donate:</strong> You can support me via <a class="paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=s%2ekupletsky%40gmail%2ecom&amp;lc=US&amp;item_name=Material%20Design%20Responsive%20Table&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted">PayPal</a>, <a class="webmoney" href="https://funding.webmoney.ru/material-design-iconic-font/donate">WebMoney</a> or <a class="gratipay" href="http://gratipay.com/zavoloklom/" target="_blank">Gratipay</a></p>
    </div>
  </div>



  <!-- start Model -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <!-- ข้อความ -->


         <form class="needs-validation" novalidate #edituser="ngForm" (ngSubmit)="onClickSubmit(edituser.value)">
         <div *ngFor="let user of users_firt">
          <div class="input-group-append">

              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Name</button>
              <div class="input-group">
                  <input  value="{{user.user_name}}" name="user_name" id="user_name" type="text" class="form-control" placeholder="ชื่อจริง" aria-label="Recipient's username" aria-describedby="button-addon2" required ngModel>
             
              </div>
            </div>
           

           
<!-- 
          <div class="input-group-append">

              <button class="btn btn-outline-secondary" type="button" id="button-addon2">LastName</button>
              <div class="input-group">
                  <input value="{{user.user_lastname}}" type="text" class="form-control" placeholder="นามสกุล" aria-label="Recipient's username" >
             
              </div>
            </div>
          <div class="input-group-append">

              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Age</button>
              <div class="input-group">
                  <input value="{{user.age}}" type="text" class="form-control" placeholder="อายุ" aria-label="Recipient's username" aria-describedby="button-addon2">
             
              </div>
            </div>
          <div class="input-group-append ">

              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Call Number</button>
              <div class="input-group ">
                  <input value="{{user.user_call}}" type="text" class="form-control" placeholder="เบอร์โทร" aria-label="Recipient's username" aria-describedby="button-addon2">
             
              </div>
            </div>
          <div class="input-group-append">

              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Address</button>
              <div class="input-group">
                  <input value="{{user.address}}" type="text" class="form-control" placeholder="ที่อยู่" aria-label="Recipient's username" aria-describedby="button-addon2">
             
              </div>
            </div>
          <div class="input-group-append">

              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Email</button>
              <div class="input-group">
                  <input value="{{user.email_address}}" type="text" class="form-control" placeholder="อีเมล" aria-label="Recipient's username" aria-describedby="button-addon2">
             
              </div>
            </div>-->
          </div> 
        </form>
          <button type="submit" class="btn btn-primary"  >Save changes</button>
          <!-- จบข้อความ -->
        </div>
        <div class="modal-footer">
          <button type="button" 
          class="btn btn-secondary" 
          data-dismiss="modal"
          (click)="edit_user()"
          >Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
<!-- end Model -->