<div id="demo">
   <br>
    <h1>Tae Design Responsive Table</h1>
    <h2>Table of my other Tae Design works (list was updated 08.2015)</h2>
    
    <!-- Responsive table starts here -->
    <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
    <div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
        
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Call Number</th>
            <th>Address</th>
            <th>Email</th>
            <th>Insert Data</th>
            <th>Delete Data</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
          <tr>
            <td >{{user.user_id}}</td>
            <td >{{user.user_name}}</td>
            <td >{{user.user_lastname}}</td>
            <td >{{user.age}}</td>
            <td >{{user.user_call}}</td>
            <td >{{user.address}}</td>
            <td >{{user.email_address}}</td>
            <td ><a routerLink="/insert" routerLinkActive="active" class="far fa-angle-double-up">เพิ่มข้อมูล</a></td>
            <td ><button type="button" name="user.user_id" id="user.user_id" (click)="getdelete(user.user_id)">เพิ่มข้อมูล</button></td>
          </tr>
          <tr>
            
        </tbody>
      </table>
    </div>
    
    <!-- Table Constructor change table classes, you don't need it in your project -->
    <div style="width: 45%; display: inline-block; vertical-align: top">
    <h2>Table Constructor</h2>
    <p>
      <label for="table-bordered">Style: bordered</label>
      <select id="table-bordered" name="table-bordered">
        <option selected value="">No</option>
        <option value="table-bordered">Yes</option>
      </select>
    </p>
    <p>
      <label for="table-striped">Style: striped</label>
      <select id="table-striped" name="table-striped">
        <option selected value="">No</option>
        <option value="table-striped">Yes</option>
      </select>
    </p>
    <p>
      <label for="table-hover">Style: hover</label>
      <select id="table-hover" name="table-hover">
        <option value="">No</option>
        <option selected value="table-hover">Yes</option>
      </select>
    </p>
    <p>
      <label for="table-color">Style: color</label>
      <select id="table-color" name="table-color">
        <option value="">Default</option>
        <option value="table-mc-red">Red</option>
        <option value="table-mc-pink">Pink</option>
        <option value="table-mc-purple">Purple</option>
        <option value="table-mc-deep-purple">Deep Purple</option>
        <option value="table-mc-indigo">Indigo</option>
        <option value="table-mc-blue">Blue</option>
        <option selected value="table-mc-light-blue">Light Blue</option>
        <option value="table-mc-cyan">Cyan</option>
        <option value="table-mc-teal">Teal</option>
        <option value="table-mc-green">Green</option>
        <option value="table-mc-light-green">Light Green</option>
        <option value="table-mc-lime">Lime</option>
        <option value="table-mc-yellow">Yellow</option>
        <option value="table-mc-amber">Amber</option>
        <option value="table-mc-orange">Orange</option>
        <option value="table-mc-deep-orange">Deep Orange</option>
      </select>
    </p>  
    </div>
    <div style="width: 45%; display: inline-block; vertical-align: top; margin-left: 30px;">
      <h2>Description</h2>
      <p><span><hr><h5>คุณลักษณะ</h5></span> เป็นการหัดเขียนโปรแกรมในลักษณะหนึ่งที่ทำให้เรารู้ได้เยอะกว่านี้</p>
      <p><span><h5>แหล่งที่มา</h5></span>ฉันมาจากบ้านเดินทางโดยใช้รถประจำทาง</p>
      <p class="mdt-subhead-2"><strong>Donate:</strong> You can support me via <a class="paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=s%2ekupletsky%40gmail%2ecom&amp;lc=US&amp;item_name=Material%20Design%20Responsive%20Table&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted">PayPal</a>, <a class="webmoney" href="https://funding.webmoney.ru/material-design-iconic-font/donate">WebMoney</a> or <a class="gratipay" href="http://gratipay.com/zavoloklom/" target="_blank">Gratipay</a></p>
    </div>
  </div>
